.header
  =render "devise/header"
.breadcrumbs
  - breadcrumb :user_address
  = breadcrumbs pretext: "",separator: " &rsaquo; "
= render "devise/shared/error_messages", resource: @address
.form
  .form__title
    住所情報登録
  = form_for @address do |f|
    .form__postalCode.form-item
      %ul
        %li 郵便番号(ハイフンなし)
        %li.required 必須 
      = f.text_field :postal_code, placeholder: '例) 1231234', class: 'form-input'
    .form__prefecture.form-item
      %ul
        %li 都道府県
        %li.required 必須 
      = f.text_field :prefecture, placeholder: '例) 大阪府', class: 'form-input'
    .form__city.form-item
      %ul
        %li 市区町村
        %li.required 必須 
      = f.text_field :city, placeholder: '例) 大阪市浪速区', class: 'form-input'
    .form__houseNumber.form-item
      %ul
        %li 町名番地
        %li.required 必須 
      = f.text_field :house_number, placeholder: '例) 1丁目1', class: 'form-input'
    .form__numberSignEtc.form-item
      %ul
        %li マンション名・部屋番号
      = f.text_field :number_sign_etc, placeholder: '例) Aマンション101号室', class: 'form-input'
    .form__phoneNumbe.form-item
      %ul
        %li 電話番号(ハイフンなし)
        %li.required 必須 
      = f.text_field :phone_number, placeholder: '例) 08012345678', class: 'form-input'
    .form__submit
    = f.submit "登録する", class: 'btn'
  = render "devise/shared/links"
.footer
  = render "devise/footer"
