%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :postal_code
    %br/
    = f.text_field :postal_code
  .field
    = f.label :prefecture
    %br/
    = f.text_field :prefecture
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :house_number
    %br/
    = f.text_field :house_number
  .field
    = f.label :number_sign_etc
    %br/
    = f.text_field :number_sign_etc
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
  = f.submit "Sign up"
= render "devise/shared/links"