.header
  = render partial: "items/header"

.breadcrumbs
  - breadcrumb :mypage
  = breadcrumbs pretext: "",separator: " &rsaquo; "

.main
  .contentsMain
    %ul.sideBarmenu
      %li#tab__user.menu_item.active
        ユーザー情報
        %i{class: "fas fa-angle-right"}
      %li#tab__card.menu_item
        カード情報
        %i{class: "fas fa-angle-right"}
      %li#tab__test.menu_item
        出品一覧
        %i{class: "fas fa-angle-right"}
      %li#tab__test.menu_item
        お気に入り一覧
        %i{class: "fas fa-angle-right"}

    %ul.contents
      %li#tab__user.content.show
        .contentTitle
          ユーザー情報
        .contentInfo
          .contentInfo__lists
            ユーザー名
            .contentInfo__list
              = @user.nickname
          .contentInfo__lists
            メールアドレス
            .contentInfo__list
              = @user.email
          .contentInfo__lists
            住所
            .contentInfo__list
              = @user.address.city
      %li#tab__card.content
        .contentTitle
          カード情報
        .contentInfo
          = render partial: "items/card_show.html.haml"
      %li#tab__selling.content
        .contentTitle
          出品一覧
        .contentInfo
          - @product.each do |product|
            .contentInfo__lists
              商品名
              .contentInfo__list
                = product.product_name
              .contentInfo__image
                = image_tag product.images[0].src.url, size: "150x100"
        - unless @product.present?
          .contentInfo__none
            出品している製品はありません
      %li#tab__favorite.content
        .contentTitle
          お気に入り一覧
        .contentInfo
          - @favorite.each do |favorite|
            .contentInfo__lists
              商品名
              .contentInfo__list
                = favorite.product.product_name
          - unless @favorite.present?
            .contentInfo__none
              お気に入り登録している製品はありません

.footer
  =render "devise/footer"
-if user_signed_in?
  .exhibition
    = link_to new_product_path, data: {"turbolinks": false} do
      -# 商品出品ページへ遷移
      .exhibition__content
        %P 出品する
        = image_tag("icon_camera.png")