- if @products.present?
  - @products.each do |product|
    .productList
      .productList__img
        = link_to product_path(product[:id]), method: :get do
          = image_tag product.images[0].src.to_s, class: "img", size: "220x150"
          .productList__name
            = product.product_name
            .detail
              .detail__price
                = product.price.to_s(:delimited)
                円
                %p (税込)
              .detail__fav
                .detail__fav--icon
                  = icon('fas', 'star')
                .detail__fav--num
                  = product.favorites.count