.header
  = render partial: "items/header"

.breadcrumbs
  - breadcrumb :card_new
  = breadcrumbs pretext: "",separator: " &rsaquo; "

= form_with url:card_index_path(id: params[:id]), method: :post, local: true, name: "inputForm", class:"form", id: "charge-form" do |f|
  .formNew
    .form__title
      クレジットカード新規登録
    .form__upper
      .form__upper__group
        %ul
          %li カード番号
          %li.required 必須
          %li
        = f.text_field :card_number, name: "card_number", id:"card_number", type: "text", placeholder: '半角数字のみ', class: 'form-input', maxlength: "16"
        .card-icon
          = image_tag "icon-visa.png", size:'50x40'
          = image_tag "icon-american-express.png", size:'50x40'
      .form__upper__group.exp
        %ul
          %li 有効期限
          %li.required 必須
        = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]], {}, class: 'form-input-limit', name: "exp_year", id:"exp_year"
        %span 年
        = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, class: 'form-input-limit', name: "exp_month", id:"exp_month"
        %span 月
      .form__upper__group
        %ul
          %li セキュリティーコード
          %li.required 必須
        = f.text_field :cvc, name: "cvc", id:"cvc", class:"cvc", type: "text", placeholder: 'カード背面4桁もしくは3桁の番号', class: 'form-input', maxlength: "16"
      .form__upper__group
        %p.about
          %span
      .form__upper__group
        = f.submit 'カード登録', class: 'btn'

.footer
  = render "devise/footer"