.header
  = render partial: "items/header"

.main
  .mainShow
    %h1 カテゴリー一覧
    %ul.categories
      - @parents.each do |parent|
        - if parent.name != "---" 
          %li.parents= link_to "#{parent.name}", category_path(parent)

          %ul.categories__children
            - parent.children.each do |child|
              %li.childern= link_to "#{child.name}", category_path(child)

              %ul.categories__grandchildren
                - child.children.each do |grandchild|
                  %li= link_to "#{grandchild.name}", category_path(grandchild)

.footer
  =render "devise/footer"