.errorMessage__box
- @product.errors.full_messages.each do |message|
  .errorMessage
    = message
= form_with model: @product, class: "Form", local: true do |f|
  .productForm
  商品名（必須）
  = f.text_field :product_name, placeholder: '商品名'
  .productForm#image-box 
    商品画像（必須）
    #previews
    = f.fields_for :images, id: "add" do |image|
      .js-file_group{ data: {index: "#{image.index}"}}
        = image.label :src
        = image.file_field :src, class: 'js-file'
        %br
        .js-remove 削除
      - if @product.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    - if @product.persisted?
      .js-file_group{ data: {index:"#{@product.images.count}"}}
        = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
        .js-remove削除
  .productForm
  商品の説明（必須）
  = f.text_field :product_explanation, placeholder: '商品説明'
  .productForm
  ブランド（任意）
  = f.text_field :brand, placeholder: 'ブランド'
  .productForm
  商品の状態（必須）
  = f.collection_select :product_status_id, ProductStatus.all, :id, :name
  .productForm
  発送方法（必須）
  = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name
  .productForm
  配送料の負担（必須）
  = f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :name
  .productForm
  発送地域（必須）
  = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  .productForm
  配送までの日数（必須）
  = f.collection_select :days_until_shipping_id, DaysUntilShipping.all, :id, :name
  .productForm
  価格（必須）
  = f.text_field :price, placeholder: '数字で入力'
  .Form__submit
  = f.hidden_field :status, :value => '出品中'
  = f.submit '出品'