.header
  =render "devise/header"

出品編集
.errorMessage__box
- @product.errors.full_messages.each do |message|
  .errorMessage
    = message

.ProductNew
  = form_with model: @product, calss: "Form", local: true do |f|
    .productForm
      %ul
        %li 商品名
        %li.required（必須）
      = f.text_field :product_name, placeholder: '商品名'
    .productForm#image-box 
      %ul
        %li 商品画像
        %li.required-pic（必須）
      #previews
        - @product.images.each do |img|
          - if img.src.url present?
            = image_tag img.src.url, height: 150, width: 150
      .image-input
        = f.fields_for :images do |image|
          .js-file_group{ data: {index: "#{image.index}"}}
            = image.file_field :src, class: 'js-file'
            .js-remove 削除
          - if @product.persisted?
            = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
        - if @product.persisted?
          .js-file_group{ data: {index:"#{@product.images.count}"}}
            = file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
          .js-remove削除
    .productForm__name
      %ul
        %li 商品の説明
        %li.required（必須）
      = f.text_field :product_explanation, placeholder: '商品説明'
    .productForm__brand
      %ul
        %li ブランド
        %li.not-required（任意）
      = f.text_field :brand, placeholder: 'ブランド'
    .productForm__product-status
      %ul
        %li 商品の状態
        %li.required（必須）
      = f.collection_select :product_status_id, ProductStatus.all, :id, :name
    .productForm__shipping-method
      %ul
        %li 発送方法
        %li.required（必須）
      = f.collection_select :shipping_method_id, ShippingMethod.all, :id, :name
    .productForm__postage
      %ul
        %li 配送料の負担
        %li.required（必須）
      = f.collection_select :shipping_charge_id, ShippingCharge.all, :id, :name
    .productForm__prefecture
      %ul
        %li 発送地域
        %li.required（必須）
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name
    .productForm__days-until-shipping
      %ul
        %li 配送までの日数
        %li.required（必須）
      = f.collection_select :days_until_shipping_id, DaysUntilShipping.all, :id, :name
    .productForm__price
      %ul
        %li 価格
        %li.required（必須）
      = f.text_field :price, placeholder: '数字で入力'

    -# .productForm__category
    -#   %ul
    -#     %li カテゴリー
    -#     %li.required（必須）
      -# .listing-select-wrapper
      -#   =f.select :category, @category_parent_array, {}, {class: "listing-select-wrapper__box--select", id: "parent_category"}

    .Form__submit
    = f.hidden_field :status, :value => '出品中'
    = f.submit '出品'

.footer
  =render "devise/footer"