= render "items/header"

.title
  検索結果
.searchForm
  = search_form_for @q do |f|
    = f.label :product_name, "Keyword"
    = f.search_field :product_name_cont

  = f.submit "検索"
.search__result
  - @products.each do |product|
    = render "items/productList"


= render "items/footer"