.header
   = render partial: "items/header"

.main
   .showMain
      .content
         .itemBox
            %h1.productName
               = @product.product_name

            .productImageMain
               - @product.images.each do |image|
                  = image_tag image.src.url

            %ul.productImage
               - @product.images.each do |image|
                  %li.productImageEach
                     = image_tag image.src.url, size: "140x100"

            .productPrice
               ¥
               = @product.price.to_s(:delimited)
            .productPrice__detail
               %span.tax
               (税込)
               %span.postage
               送料込み

            .productExplanation
               = @product.product_explanation

            .table
               %table
                  %tbody
                     %tr
                        %th
                           出品者
                           %td
                              = @product.user.nickname

                     %tr
                        %th
                           ブランド
                           %td
                              = @product.brand

                     %tr
                        %th
                           商品の状態
                           %td
                              = @product.product_status.name

                     %tr
                        %th
                           発送方法
                           %td
                              = @product.shipping_method.name

                     %tr
                        %th
                           配送料の負担
                           %td
                              = @product.shipping_charge.name

                     %tr
                        %th
                           発送地域
                           %td
                              = @product.prefecture.name

                     %tr
                        %th
                           発送日の目安
                           %td
                              = @product.days_until_shipping.name

         - if user_signed_in? && current_user.id != @product.user_id
            .Buy
               .BuyProduct
                  = link_to "購入画面", "#", class: "submit-btn-blue"

         - if user_signed_in? && current_user.id == @product.user_id
            .EditDelete
               .EditDelete__box
                  = link_to "商品の編集", "#", class: "submit-btn-blue"
               or
               .EditDelete__box
                  = link_to "この商品を削除する", "#", class: "submit-btn-gray"

.footer
   = render partial: "items/footer"